<<<<<<< HEAD
<b>{{ nombre }}</b>
<h1>holaaaaaaaa</h1>
=======
{ for($p in $paramas) }
<table><tr><td><?php var_dump($p);?></td></tr></table>
    
    <?php } ?>
<h1>holaaaaaaaa git hub</h1>
>>>>>>> 9d9c52f69ea2fc7c623782a2b4a68bfe133fa7ec
